<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
</head>
<body>

	<%- include("/partials/header") %>
	<main>
		<p>
			<i>Welcome!</i><br>
			This is my personal website, made for fun and to learn how things work!
			<strong>Check the menu</strong> for links to interactive simulations, visualisations, photos, and anything else that I felt like adding.
		</p>
	</main>

	<section>
		<h2>Simulations &#38; Visualisations</h2>
		<ul class="list-preview">
			<% simulations.filter(s => s.image).slice(0, 2).forEach(function(item) { %>
			<li class="item-preview large">
				<a class="box-shadow" href="/simulations/<%= item.id %>">
					<% if (item.image) { %>
					<img src="/assets/<%= item.id %>.png">
					<% } %>
					<p class="title"><%= item.title %></p>
					<p class="description"><%= item.description %></p>
				</a>
			</li>
			<% }); %>
		</ul>
		<a href="/simulations"><p><strong>See all <%= simulations.length %> &#8594;</strong></p></a>
	</section>

	<section>
		<h2>Photos</h2>
		<iframe
			title="Flickr gallery of photos"
			src="https://www.flickr.com/photos/jjmorton/sets/72177720311252956/player"
			frameborder="0"
			allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen
			class="photo-frame box-shadow"
		>Loading...</iframe>
	</section>

	<%- include("/partials/footer") %>

</body>
</html>
