<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script src="/scripts/canvas/main.js"></script>
	<script src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<header>
		<%- include("partials/header") %>
	</header>

	<h1><%= title %></h1>

	<main>
		<p><%= description %></p>
	</main>

	<section id="sec-simulation">
		<noscript>Please enable JavaScript to view this simulation.</noscript>
		<div id="controls"></div>
		<canvas class="box-shadow">Sorry, the canvas element is not supported by your browser.</canvas>
	</section>

	<footer>
		<%- include("partials/footer") %>
	</footer>
</body>
</html>
