<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<link rel="stylesheet" type="text/css" href="/styles/spirograph.css"/>
	<script type="module" src="/scripts/spirograph.js"></script>
</head>
<body>
	<div class="offset-parent">
		<div id="controls-bar">
			<a href="/" id="home-link">Return to <span id="website-name"></span></a>
			<%- include(`/partials/controls/button`, { name: "stopstart" }) %>
			<%- include(`/partials/controls/knob`, { name: "speed" }) %>
			<p>
			Adjust the size ratio between the guide and drawing wheel to get different patterns.
			More <span class="tooltip" title="i.e. ratios with a higher 'lowest common multiple' (LCM)">irregular ratios</span> give patterns that make more rotations before they complete.
			</p>
			<div class="control-group">
				<%- include(`/partials/controls/knob`, { name: "ratioguide" }) %>
				<%- include(`/partials/controls/knob`, { name: "ratiowheel" }) %>
			</div>
			<p>
			This pattern completes in <strong><span id="pattern-rotations">0</span></strong> rotations.
			</p>
			<%- include(`/partials/controls/knob`, { name: "holenumber" }) %>
			<%- include(`/partials/controls/checkbox`, { name: "showtools" }) %>
			<h3>Guide</h3>
			<%- include(`/partials/controls/knob`, { name: "guidesize" }) %>
			<div class="control-group">
				<%- include(`/partials/controls/combo`, { name: "guidetype" }) %>
				<%- include(`/partials/controls/knob`, { name: "guideparam" }) %>
			</div>
			<h3>Wheel</h3>
			<div class="control-group">
				<%- include(`/partials/controls/combo`, { name: "wheeltype" }) %>
				<%- include(`/partials/controls/knob`, { name: "wheelparam" }) %>
			</div>
			<%- include(`/partials/controls/checkbox`, { name: "inside" }) %>
		</div>
	</div>

	<%- include("/partials/canvas")%>

	<div class="offset-parent">
		<div id="toolbar">
			<button class="icon" id="undo" title="Undo"></button>
			<button class="icon" id="clear" title="Clear everything"></button>
			<button class="icon" id="save" title="Save image"></button>
			<div class="separator"></div>
			<button class="colour" id="colour-0"></button>
			<button class="colour" id="colour-1"></button>
			<button class="colour" id="colour-2"></button>
			<button class="colour" id="colour-3"></button>
			<button class="colour" id="colour-4"></button>
			<button class="colour" id="colour-5"></button>
			<button class="colour" id="colour-6"></button>
			<button class="colour" id="colour-7"></button>
			<div class="separator"></div>
			<button class="thickness" id="thickness-0"></button>
			<button class="thickness" id="thickness-1"></button>
			<button class="thickness" id="thickness-2"></button>
		</div>
	</div>

	<script>
		document.getElementById("website-name").textContent = window.location.host;
	</script>
</body>
