<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<%- include("/partials/header") %>

	<main>
	<p><%= description %></p>
	</main>

	<section id="sec-simulation">
		<%- include("/partials/canvas") %>
	</section>

	<section id="controls">
		<%- include(`/partials/controls/button`, { name: "playpause" }) %>
		<h3>Visualisation</h3>
		<%- include(`/partials/controls/meter`, { name: "energyerror" }) %>
		<%- include(`/partials/controls/meter`, { name: "potential" }) %>
		<%- include(`/partials/controls/meter`, { name: "kinetic" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "trail" }) %>
		<h3>Physical properties</h3>
		<div class="control-group">
			<%- include(`/partials/controls/knob`, { name: "l1" }) %>
			<%- include(`/partials/controls/knob`, { name: "l2" }) %>
			<%- include(`/partials/controls/knob`, { name: "m1" }) %>
			<%- include(`/partials/controls/knob`, { name: "m2" }) %>
			<%- include(`/partials/controls/knob`, { name: "g" }) %>
		</div>
		<h3>Timestepping</h3>
		<%- include(`/partials/controls/knob`, { name: "timestep" }) %>
		<%- include(`/partials/controls/combo`, { name: "method" }) %>
	</section>
	
	<%- include("/partials/footer") %>

</body>
</html>
