<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<header>
		<%- include("/partials/header") %>
	</header>

	<div id="content">
		<main>
			<h1><%= title %></h1>
			<p><%= description %></p>
		</main>

		<section id="sec-simulation">
			<%- include("/partials/canvas") %>
		</section>

		<section id="controls">
			<h3>Visualisation</h3>
			<%- include(`/partials/controls/meter`, { name: "energyerror" }) %>
			<%- include(`/partials/controls/checkbox`, { name: "trail" }) %>
			<h3>Physical properties</h3>
			<div class="control-group">
				<%- include(`/partials/controls/knob`, { name: "m" }) %>
				<%- include(`/partials/controls/knob`, { name: "k" }) %>
				<%- include(`/partials/controls/knob`, { name: "l" }) %>
				<%- include(`/partials/controls/knob`, { name: "g" }) %>
			</div>
			<h3>Timestepping</h3>
			<%- include(`/partials/controls/knob`, { name: "timestep" }) %>
			<%- include(`/partials/controls/combo`, { name: "method" }) %>
		</section>
	
		<section>
			<footer>
				<%- include("/partials/footer") %>
			</footer>
		</section>
	</div>

</body>
</html>
