<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<header>
		<%- include("/partials/header") %>
	</header>


	<div id="content">
		<main>
			<h1><%= title %></h1>
			<p><%= description %></p>
		</main>

		<section id="sec-simulation">
			<%- include("/partials/canvas") %>
		</section>

		<section id="controls">
			<h3>Physical properties</h3>
			<div class="control-group">
				<%- include(`/partials/controls/knob`, { name: "ballmass" }) %>
				<%- include(`/partials/controls/knob`, { name: "balldensity" }) %>
				<%- include(`/partials/controls/knob`, { name: "liquiddensity" }) %>
				<%- include(`/partials/controls/knob`, { name: "liquidviscosity" }) %>
				<%- include(`/partials/controls/knob`, { name: "gravity" }) %>
			</div>
			<h3>Visualisation</h3>
			<%- include(`/partials/controls/meter`, { name: "energy" }) %>
			<%- include(`/partials/controls/meter`, { name: "potential" }) %>
			<%- include(`/partials/controls/meter`, { name: "kinetic" }) %>
			<%- include(`/partials/controls/checkbox`, { name: "arrows" }) %>
		</section>

		<section id="about">
			<h3>About this simulation</h3>
			<p>
				This is an approximate model of the upthrust (buoyancy) and drag on a sphere in a fluid.
				<br>
				The <strong>upthrust</strong> is simply equal to the weight of the displaced fluid:
				<img class="latex-block" src="/tex/fluids-upthrust.png"/>
				where the subscript <i>f</i> refers to the fluid, and <i>V</i> is the volume of the sphere which is submerged.
				By comparing this with the weight of the sphere, you can conclude that objects sink if they are more dense than the fluid they are in, and float if they are less dense.
			</p>
			<p>
				The <strong>drag</strong> is in theory much more complicated, as for an accurate model, one would need to account for the profile of the object and the turbulence of the fluid flow, among other things.
				For the sake of simplicity, I opted for <a href="https://en.wikipedia.org/wiki/Stokes%27_law">Stokes' drag</a> alongside the <a href="https://en.wikipedia.org/wiki/Drag_equation">drag equation</a>.
				<img class="latex-block" src="/tex/fluids-drag.png"/>
				The first term in this equation for the drag force is the Stokes' drag, which depends on the viscosity of the fluid.
				It assumes a spherical object (perfect for this case) and very small Reynolds numbers, which implies next to no turbulence in the fluid.
				These assumptions result in this very simple expression for the viscous drag on a sphere.
				<br>
				The second term is the drag equation, and depends on the profile (i.e. size, shape and inclination) of the object.
				Here, the shape of the object (in this case a sphere) is accounted for in the <a href="https://en.wikipedia.org/wiki/Drag_coefficient">drag coefficient</a>, <i>C<sub>d</sub></i>, and its size is represented by the area <i>A</i>.
				As you would imagine, more aerodynamic objects such as the wing of an aeroplane have a small coefficient, while objects such as this sphere have a larger one and experiece more drag as a result.
				In reality, the drag coefficient <a href="https://www.me.psu.edu/cimbala/me325web_Spring_2012/Labs/Drag/intro.pdf">varies with the Reynolds number</a> of the fluid, but I won't talk about this here.
				Notice that the drag equation term is proportional to the square of velocity, while the Stokes' drag is linear in velocity.
				<br>
				Of course, both of these drag forces act in the opposite direction to the velocity, <strong><i>v</i></strong> of the object, hence the minus sign and proportionality to the object's velocity.
			</p>
		</section>
	
		<section>
			<footer>
				<%- include("/partials/footer") %>
			</footer>
		</section>
	</div>
</body>
</html>
