<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<header>
		<%- include("/partials/header") %>
	</header>


	<div id="content">
		<main>
			<h1><%= title %></h1>
			<p><%= description %></p>
		</main>

		<section id="sec-simulation">
			<noscript>Please enable JavaScript to view this simulation.</noscript>
			<canvas class="box-shadow">Sorry, the canvas element is not supported by your browser.</canvas>
		</section>

		<section id="controls">
			<%- include(`/partials/controls/button`, { name: "playpause" }) %>
			<%- include(`/partials/controls/combo`, { name: "type" }) %>
			<p class="julia-custom mandelbrot-custom" hidden>
				Customise map:<br>
				<em>z</em> &rarr; <em>z</em><sup> <%- include('/partials/controls/numinput', { id: "coeff0", pattern: "[0-9|\.]" }) %></sup> +
				<span class="julia-custom" hidden>
					<%- include('/partials/controls/numinput', { id: "coeff1", pattern: "[0-9|\.|\-]" }) %> +
					<%- include('/partials/controls/numinput', { id: "coeff2", pattern: "[0-9|\.|\-]" }) %> <em>i</em> +
					<%- include('/partials/controls/numinput', { id: "coeff3", pattern: "[0-9|\.|\-]" }) %> <em>e<sup> it</sup></em>
				</span>
				<span class="mandelbrot-custom" hidden>
					<em>c</em>
				</span>
			</p>
			<p class="newton-custom" hidden>
				Custom polynomial:<br>
				<span>
					<% for (let i = 8; i > 0; i--) { %>
						<%- include('/partials/controls/numinput', { id: `newton${i}`, pattern: "[0-9|\.|\-]" }); %> <em>z</em><sup> <%= i %></sup> +
					<% } %>
					<%- include('/partials/controls/numinput', { id: "newton0", pattern: "[0-9|\.|\-]" }) %>
				</span>
			</p>
			<%- include(`/partials/controls/knob`, { name: "zoom" }) %>
			<%- include(`/partials/controls/knob`, { name: "iterations" }) %>
		</section>

		<section>
			<footer>
				<%- include("/partials/footer") %>
			</footer>
		</section>
	</div>


</body>
</html>
