<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<%- include("/partials/header") %>

	<main>
	<p><%= description %></p>
	</main>

	<section id="sec-simulation">
		<%- include("/partials/canvas") %>
	</section>

	<section id="controls">
		<div class="control-group">
			<%- include(`/partials/controls/knob`, { name: "focallength" }) %>
			<%- include(`/partials/controls/knob`, { name: "distance" }) %>
			<%- include(`/partials/controls/knob`, { name: "scale" }) %>
		</div>
	</section>
	
	<%- include("/partials/footer") %>
</body>
</html>
