<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<%- include("/partials/header") %>

	<main>
	<p><%= description %></p>
	</main>

	<section id="sec-simulation">
		<%- include("/partials/canvas") %>
	</section>

	<section id="controls">
		<h3>Physical properties</h3>
		<div class="control-group">
			<%- include(`/partials/controls/knob`, { name: "springconstant" }) %>
			<%- include(`/partials/controls/knob`, { name: "damping" }) %>
			<%- include(`/partials/controls/knob`, { name: "mass" }) %>
			<%- include(`/partials/controls/knob`, { name: "frequency" }) %>
			<%- include(`/partials/controls/knob`, { name: "amplitude" }) %>
		</div>
		<h3>Visualisation</h3>
		<%- include(`/partials/controls/knob`, { name: "scale" }) %>
			<!-- <%- include(`/partials/controls/meter`, { name: "energy" }) %>
			<%- include(`/partials/controls/meter`, { name: "potential" }) %>
			<%- include(`/partials/controls/meter`, { name: "kinetic" }) %> -->
	</section>
	
	<%- include("/partials/footer") %>

</body>
</html>
