<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script src="/scripts/canvas/main.js"></script>
	<script src="/scripts/canvas/vector.js"></script>
	<script src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<header>
		<%- include("/partials/header") %>
	</header>


	<div id="content">
		<main>
			<h1><%= title %></h1>
			<p><%= description %></p>
		</main>

		<section id="controls">
			<%- include(`/partials/controls/slider`, { name: "springconstant" }) %>
			<%- include(`/partials/controls/slider`, { name: "damping" }) %>
			<%- include(`/partials/controls/slider`, { name: "mass" }) %>
			<%- include(`/partials/controls/slider`, { name: "frequency" }) %>
			<%- include(`/partials/controls/slider`, { name: "amplitude" }) %>
			<%- include(`/partials/controls/slider`, { name: "scale" }) %>
		</section>

		<section id="sec-simulation">
			<noscript>Please enable JavaScript to view this simulation.</noscript>
			<canvas class="box-shadow">Sorry, the canvas element is not supported by your browser.</canvas>
		</section>
	
		<section>
			<footer>
				<%- include("/partials/footer") %>
			</footer>
		</section>
	</div>

</body>
</html>
