<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<%- include("/partials/header") %>

	<main>
	<p><%= description %></p>
	</main>

	<section id="sec-simulation">
		<%- include("/partials/canvas") %>
	</section>

	<section id="controls">
		<%- include(`/partials/controls/button`, { name: "playpause" }) %>
		<%- include(`/partials/controls/knob`, { name: "shadowsharp" }) %>
		<%- include(`/partials/controls/knob`, { name: "smoothing" }) %>
		<%- include(`/partials/controls/knob`, { name: "shininess" }) %>
		<%- include(`/partials/controls/knob`, { name: "ao" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showsteps" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "shownormal" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showshadow" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showspec" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "sun" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "sky" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "antialias" }) %>
	</section>

	<%- include("/partials/footer") %>


</body>
</html>
