<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<%- include("/partials/header") %>

	<main>
	<p><%= description %></p>
	</main>

	<section id="sec-simulation">
		<%- include("/partials/canvas") %>
	</section>

	<section id="controls">
		<%- include(`/partials/controls/button`, { name: "playpause" }) %>
		<%- include(`/partials/controls/button`, { name: "reset" }) %>
		<%- include(`/partials/controls/knob`, { name: "gridradius" }) %>
		<%- include(`/partials/controls/knob`, { name: "alpha" }) %>
		<%- include(`/partials/controls/knob`, { name: "beta" }) %>
		<%- include(`/partials/controls/knob`, { name: "gamma" }) %>
	</section>

	<section id="about">
		<p>
			Using the algorithm described in
			<a href="https://doi.org/10.1016/j.chaos.2004.06.071">C. Reiter, <i>A local cellular model for snowflake growth.</i> Chaos, Solitions & Fractals, 23:1111 - 1119, 2005</a>
		</p>
	</section>

	<%- include("/partials/footer") %>
</body>
</html>
