<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<%- include("/partials/header") %>

	<main>
	<p><%= description %></p>
	</main>

	<section id="sec-simulation">
		<%- include("/partials/canvas") %>
	</section>

	<section id="controls">
		<%- include(`/partials/controls/button`, { name: "start" }) %>
		<%- include(`/partials/controls/knob`, { name: "datalength" }) %>
		<%- include(`/partials/controls/combo`, { name: "datagen" }) %>
		<%- include(`/partials/controls/combo`, { name: "method" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showswap" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showcompare" }) %>
		<%- include(`/partials/controls/knob`, { name: "speed" }) %>
	</section>
	
	<%- include("/partials/footer") %>

</body>
</html>
