<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script type="module" src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<header>
		<%- include("/partials/header") %>
	</header>


	<div id="content">
		<main>
			<h1><%= title %></h1>
			<p><%= description %></p>
		</main>

		<section id="sec-simulation">
			<noscript>Please enable JavaScript to view this simulation.</noscript>
			<canvas class="box-shadow">Sorry, the canvas element is not supported by your browser.</canvas>
		</section>

		<section id="controls">
			<%- include(`/partials/controls/combo`, { name: "select" }) %>
			<%- include(`/partials/controls/button`, { name: "add" }) %>
			<%- include(`/partials/controls/button`, { name: "duplicate" }) %>
			<%- include(`/partials/controls/button`, { name: "remove" }) %>
			<h3>Wave Properties</h3>
			<div class="control-group">
				<%- include(`/partials/controls/knob`, { name: "wavelength" }) %>
				<%- include(`/partials/controls/knob`, { name: "amplitude" }) %>
				<%- include(`/partials/controls/knob`, { name: "offset" }) %>
			</div>
			<%- include(`/partials/controls/checkbox`, { name: "reverse" }) %>
			<h3>Visualisation</h3>
			<%- include(`/partials/controls/knob`, { name: "scale" }) %>
		</section>

		<section id="about">
			<h3>About this simulation</h3>
			<p>
				This is a demonstration of wave interference.
				You can imagine that these waves are sound waves, light waves, water waves, quantum wave functions, or anything else that's a wave really.
				When two waves overlap with each other in space, the resulting wave is a sum of both waves at every point.
				This is known as <strong>superposition</strong>.
			</p>
			<p>
				The resultant wave is drawn using a thick red line, while the individual waves that sum to make it are drawn in a thin green line.
				You can select a wave using the dropdown menu and change its parameters with the sliders.
			</p>
			<p>
				Here are some examples to try
				<ol>
					<li>
						Two identical waves, but one travelling in the reverse direction.
						This forms a <strong>standing wave</strong>, like what forms on a guitar string.
					</li>
					<li>
						Two waves with a different phase offset.
						Notice that when the offset is exactly 180 degrees (or pi radians), the waves are in <strong>antiphase</strong> and cancel each other out.
						It's by this principle that noise cancelling headphones work!
					</li>
					<li>
						Multiple waves, each with a very slightly different wavelength.
						This creates a <strong>wave packet</strong>, which appears to be a short wavelength wave with a long wavelength envelope.
						When talking about sound, this is known as a <strong>beat</strong>.
						The long wavelength envelope can actually be heard, either as a variation in volume, or as a note itself if its frequency is high enough to be audiable.
						This works even when one of the waves is travelling in the reverse direction.
					</li>
				</ol>
			</p>
		</section>
		
		<section>
			<footer>
				<%- include("/partials/footer") %>
			</footer>
		</section>
	</div>

</body>
</html>
