<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script src="/scripts/canvas/main.js"></script>
	<script src="/scripts/canvas/vector.js"></script>
	<script src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<header>
		<%- include("/partials/header") %>
	</header>

	<h1><%= title %></h1>

	<main>
		<p><%= description %></p>
	</main>

	<section id="controls">
		<%- include(`/partials/controls/slider`, { name: "cameraangle" }) %>
		<%- include(`/partials/controls/slider`, { name: "cameraheight" }) %>
		<%- include(`/partials/controls/slider`, { name: "shadowsharp" }) %>
		<%- include(`/partials/controls/slider`, { name: "smoothing" }) %>
		<%- include(`/partials/controls/slider`, { name: "shininess" }) %>
		<%- include(`/partials/controls/slider`, { name: "ao" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showsteps" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "shownormal" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showshadow" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showspec" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "sun" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "sky" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "antialias" }) %>
	</section>

	<section id="sec-simulation">
		<noscript>Please enable JavaScript to view this simulation.</noscript>
		<canvas class="box-shadow">Sorry, the canvas element is not supported by your browser.</canvas>
	</section>

	<section id="about">
	</section>

	<footer>
		<%- include("/partials/footer") %>
	</footer>
</body>
</html>
