<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("/partials/head") %>
	<link rel="stylesheet" type="text/css" href="/styles/canvas.css"/>
	<script src="/scripts/canvas/main.js"></script>
	<script src="/scripts/canvas/vector.js"></script>
	<script src="/scripts/canvas/<%= id %>.js"></script>
</head>
<body>
	<header>
		<%- include("/partials/header") %>
	</header>

	<h1><%= title %></h1>

	<main>
		<p><%= description %></p>
	</main>

	<section id="controls">
		<%- include(`/partials/controls/slider`, { name: "datalength" }) %>
		<%- include(`/partials/controls/combo`, { name: "datagen" }) %>
		<%- include(`/partials/controls/combo`, { name: "method" }) %>
		<%- include(`/partials/controls/button`, { name: "start" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showswap" }) %>
		<%- include(`/partials/controls/checkbox`, { name: "showcompare" }) %>
		<%- include(`/partials/controls/slider`, { name: "speed" }) %>
	</section>

	<section id="sec-simulation">
		<noscript>Please enable JavaScript to view this simulation.</noscript>
		<canvas class="box-shadow">Sorry, the canvas element is not supported by your browser.</canvas>
	</section>

	<section id="about">
		<p>This is some text about the simulation</p>
	</section>

	<footer>
		<%- include("/partials/footer") %>
	</footer>
</body>
</html>
